body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #96efff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 65vh;
  gap: 20px;
}

.title {
  margin-bottom: 30px;
  color: #3c2bad;
}

.logo-login {
  width: 10%;
  height: 10%;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-bar {
  padding: 9px;
  border-radius: 20px;
  margin-left: 35px;
}

.icon {
  position: absolute;
  top: 20%;
  left: 10px;
  width: 20px;
  height: 20px;
}

.input-container {
  position: relative;
}

.btn-login {
  cursor: pointer;
  background-color: #39adff;
  margin-top: 15px;
  padding: 8px;
  border-radius: 20px;
}

.to-sign-up {
  text-decoration: none;
  font-size: 12px;
  color: #3c2bad;
}


